/* line 7, ../sass/style.scss */
body {
  background-image: url("../img/bg.jpg");
  background-attachment: fixed;
}

/* line 11, ../sass/style.scss */
.container {
  width: 600px;
  margin: 0 auto;
  background-color: #d6d6d6;
  background: #d6d6d6;
  background: rgba(215, 214, 214, 0.8);
}

/* line 19, ../sass/style.scss */
#radio-group-label {
  margin-right: 1em;
  font-weight: normal;
}

/* line 24, ../sass/style.scss */
#radio-units {
  display: inline;
  margin-right: 1em;
}

/* line 29, ../sass/style.scss */
h4 {
  margin-bottom: 20px;
}

/* line 33, ../sass/style.scss */
.container {
  width: 700px;
  max-width: 100%;
}

/* line 38, ../sass/style.scss */
.tab {
  width: 100%;
}

/* line 42, ../sass/style.scss */
nav {
  border-bottom: 1px solid #aaa !important;
}

/* line 46, ../sass/style.scss */
.navbar-brand {
  padding: 0 15px !important;
}

/* line 51, ../sass/style.scss */
.nav-tabs {
  border-bottom: 2px solid #DDD;
  background-color: #F61C3B;
}

/* line 52, ../sass/style.scss */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border-width: 0;
  background-color: #F61C3B;
}

/* line 53, ../sass/style.scss */
.nav-tabs > li > a {
  border: none;
  color: #fff;
}

/* line 54, ../sass/style.scss */
.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
  border: none;
  color: #fff !important;
  background: transparent;
}

/* line 55, ../sass/style.scss */
.nav-tabs > li > a::after {
  content: "";
  background: #fff;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}

/* line 56, ../sass/style.scss */
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
  transform: scale(1);
}

/* line 57, ../sass/style.scss */
.tab-nav > li > a::after {
  background: #21527d none repeat scroll 0% 0%;
  color: #fff;
}

/* line 59, ../sass/style.scss */
.tab-content {
  padding: 20px;
}

/* line 61, ../sass/style.scss */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  border: none !important;
}

/* line 65, ../sass/style.scss */
.weather-panel {
  max-width: 95%;
  margin: 1em auto;
  background-color: white;
  height: 280px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 78, ../sass/style.scss */
.weather-panel-heading {
  background-color: #03a9f4;
  color: #fff;
  width: 30%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  text-align: center;
  float: left;
}

/* line 88, ../sass/style.scss */
.weather-panel-heading h4 {
  padding-top: .5em;
}

/* line 92, ../sass/style.scss */
.weather-panel-heading p {
  font-size: 16px;
}

/* line 96, ../sass/style.scss */
.weather-panel-heading-details {
  margin-top: 2em;
}

/* line 100, ../sass/style.scss */
.weather-panel-heading-details p {
  font-size: 14px;
}

/* line 104, ../sass/style.scss */
#temp {
  font-size: 40px;
  font-weight: bolder;
  position: absolute;
  top: 0;
  right: 10px;
}

/* line 112, ../sass/style.scss */
.weather-panel-main img {
  margin-top: 1.7em;
}

/* line 116, ../sass/style.scss */
.weather-panel-main {
  color: #4c4c4c;
}

/* line 120, ../sass/style.scss */
#caption {
  font-size: 24px;
  margin-top: .4em;
  text-transform: capitalize;
}

/* line 126, ../sass/style.scss */
.navbar-default {
  background-color: #4c4c4c;
  color: #fff;
  border: none !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

/* line 133, ../sass/style.scss */
#current-icon {
  padding-top: 1.7em;
  min-height: 180px;
  background-repeat: no-repeat;
  background-position: 50% 93%;
  margin-left: 30%;
}

/* line 141, ../sass/style.scss */
#settings {
  margin-bottom: 1em;
}
