$tabs-red: #F61C3B;
$panel-blue: #03a9f4;

$dark-grey: #4c4c4c;
$nav-background: #4c4c4c;

body {
	background-image: url('../img/bg.jpg');
	background-attachment: fixed;
}

.view {
	width: 600px;
	margin: 0 auto;
	background-color: #d6d6d6;
	background: rgb(214, 214, 214); 
	background: rgba(215, 214, 214, .8);
	margin-bottom: 20px;
}

#radio-group-label {
	margin-right: 1em;
	font-weight: normal;
}

#radio-units {
	display: inline;
	margin-right: 1em;
}

h4 {
	margin-bottom: 20px;
}

.container {
	width: 700px;
	max-width: 100%;
}

.tab {
    width:100%;
}

nav {
	border-bottom: 1px solid #aaa !important;
}

.navbar-brand {
	padding: 0 15px !important;
}


.nav-tabs { border-bottom: 2px solid #DDD; background-color: $tabs-red; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; background-color: $tabs-red; }
    .nav-tabs > li > a { border: none; color: #fff; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #fff !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #fff; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }

.tab-content{ padding:20px }

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	border: none !important;
}

.weather-panel {
	max-width: 95%;
	margin: 1em auto;
	background-color: white;
	height: 280px;
	border-radius: 10px;
	text-align: center;
	position:relative;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.weather-panel-heading {
	background-color: $panel-blue;
	color: #fff;
	width: 30%;
	height: 100%;
	border-radius: 10px 0 0 10px;
    text-align: center;
    float: left;
}

.weather-panel-heading h4 {
	padding-top: .5em;
}

.weather-panel-heading p {
	font-size: 16px;
}

.weather-panel-heading-details {
	margin-top: 2em;
}

.weather-panel-heading-details p {
	font-size: 14px;
}

#temp {
	font-size: 40px;
	font-weight: bolder;
	position: absolute;
	top: 0; 
	right: 10px;
}

.weather-panel-main img {
	margin-top: 1.7em;
}

.weather-panel-main {
	color: #4c4c4c;
}

#caption {
	font-size: 24px;
	margin-top: .4em;
	text-transform:capitalize;
}

.navbar-default {
	background-color: $nav-background;
	color: #fff;
	border: none !important;
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

#current-icon {
	padding-top: 1.7em;
    min-height: 180px;
    background-repeat: no-repeat;
    background-position: 50% 93%;
    margin-left: 30%;
}

#settings {
	margin-bottom: 1em;
}

.nav li {
    display:table-cell !important;
    width: 1% !important;
}

#main {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#loading {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 64px;
   height: 64px;
   margin-bottom: -32px; /* Half the height */
   margin-left: -32px; /* Half the width */
   z-index: 9999;
}

.week {
	height: 200px;
}

.week #icon img {
	width: 75px;

}